'menu': [
  'label': 'Packages'
  'submenu': [
    'label': 'Codeforces'
    'submenu': [
      {'label': 'Problem',  'command': 'codeforces-problem:open'}
      {'label': 'Statistics', 'command': 'codeforces-statistics:open'}
    ]
  ]
]
