@import "octicon-mixins";
@import "ui-variables";

.disabled {
  	visibility: hidden;
}

.codeforces {

  overflow: auto;
  padding-top: 15px;


  .panel_bottom {
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;

    #page_nb_span {
      font-size: 14px;
      color: rgba(255, 255, 255, 0.86);
    }

    #prev_btn {
      float:left;
    }

    #next_btn {
      float:right;
    }
  }

  .contest_notice {
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
  }

  .panel-heading {
    color: rgba(241, 109, 60, 0.95);
    font-size: 14px;
  }
  .list-item {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12.5px;
  }

  .loading-text-span {
    font-size:16px;
  }

  .inline-block {
    &:hover {
      color:rgb(65, 236, 190);
      cursor: pointer; cursor: hand;
    }
  }

  .panels-row {
    display: -webkit-flex;
    -webkit-flex-direction: row;
  }

  .panel-body {
    min-height: 260px;
  }

  .category-panel {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex: 1;

    .list-group {
      overflow: hidden;
    }

    .inset-panel {
      width: 100%;
    }
  }
}
